{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <!-- CSS 파일 연결 -->
  </head>

  <body>
    <div class="container">
      <div class="sidebar">
        <h2>Main Disease Codes</h2>
        <ul>
          {% for disease in main_disease_codes %}
            <li>
              <a href="{% url 'search' %}?keyword={{ disease.code }}">{{ disease.code }}
                {{ disease.name }}</a>
              <ul>
                {% for sub in disease.subcategories %}
                  <li style="margin-left: 20px;">
                    <a href="{% url 'search' %}?keyword={{ sub.sub_code }}">{{ sub.sub_code }}
                      {{ sub.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="content">
        <h1>Search</h1>

        <!-- 검색 폼 -->
        <form action="{% url 'search' %}" method="get">
          <input type="text" name="keyword" placeholder="Enter a keyword">
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
  </body>

</html>
