/* 검색 입력 필드 포커스 시 */
input#search-input:focus {
    border-color: #007bff; /* 포커스 시 파란 테두리 */
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2); /* 포커스 시 그림자 */
}

button.search-btn {
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease; /* 부드러운 전환 추가 */
    white-space: nowrap;
}

button.search-btn:hover {
    background-color: #007bff;; /* 호버 시 어두운 파란색 */
    
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid var(--primary-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#clear-btn {
    position: absolute;
    right: 80px; /* 버튼 위치 조정: 검색 버튼과 겹치지 않도록 조정 */
    top: 50%;
    transform: translateY(-50%); /* 수직 중앙 정렬 */
    border: none;
    background: transparent; /* 배경 투명 */
    color: var(--primary-color);
    cursor: pointer; /* 커서 모양 변경 */
    font-size: 1rem; /* 글자 크기 조정 */
    display: none; /* 기본적으로 숨김 */
    z-index: 100; /* 다른 요소 위에 표시되도록 설정 */
    transition: color 0.3s ease, transform 0.3s ease; /* 부드러운 전환 추가 */
    outline: none; /* 포커스 시 테두리 제거 */
}

#clear-btn:focus {
    outline: none; /* 포커스 시 테두리 제거 */
    box-shadow: none; /* 포커스 시 그림자 제거 */
}

#clear-btn:hover {
    color: #b30000; /* 호버 시 더 어두운 파란색 */
    transform: translateY(-50%) scale(2); /* 호버 시 크기 증가 효과 */
}