/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9fb;
    color: #333;
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-color: #f3f4f7;
    height: 100%;
    border-right: 1px solid #ddd;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #007bff;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background-color: #d6eaff;
    color: #0056b3;
}

/* Search Bar */
.search-area {
    background-color: #e9f0fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

input#search-input {
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #ccd1d9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    flex-grow: 1;
}

input#search-input:focus {
    border-color: #007bff;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

button.btn-outline-secondary {
    margin-top: 5px;
}

button.search-btn {
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}



button.search-btn:hover {
    background-color: #0056b3;
}


.table {
    width: 100%;
    border-collapse: collapse;
}

.table-fixed-header th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.table tbody tr:hover {
    background-color: #f1f7ff;
}

.table-body-wrapper {
    max-height: 100%;
    overflow-y: auto;
}

.table-body-wrapper::-webkit-scrollbar {
    width: 8px;
}

.table-body-wrapper::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 4px;
}

/* Detail Section */
.detail-area .card {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9fb;
    height: 100%;
}

.detail-area .card-title {
    color: #007bff;
    font-weight: 500;
}


/* 테이블의 최대 높이를 설정하고 스크롤 가능하도록 수정 */
.result-table {
    margin-left: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden; /* 테두리 내부에서 스크롤되는 효과를 위해 overflow 설정 */
}

.table-body-wrapper {
    max-height: 300px; /* 테이블 본문에 대한 최대 높이 지정 */
    overflow-y: auto; /* 세로 스크롤 허용 */
}

.table-body-wrapper::-webkit-scrollbar {
    width: 8px;
}

.table-body-wrapper::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 4px;
}

/* 테이블 헤더 고정 */
.table-fixed-header th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    z-index: 2; /* 헤더가 본문 위에 유지되도록 z-index 설정 */
}

